body, html {
	margin:0;
	padding:0;
	background-color: #F8F8FF;
	color:black;
	font-size: 20px;
	font-family: arial;
}

body {
  min-width:780px;
}

a:link{
  color:#DC143C;
}

.bg-menu{
  background-color:	#333 !important;
}

.navbar{
  min-height: 80px;
}

.witaj {
  color: SlateBlue;
  text-align: center;
  position: absolute;
  bottom: 45%;
  right :45%;
}



main {
  background-color: #f8f8ff;
}

/*animowany przycisk */
.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Arial';
  font-size: 20px;
  padding: 20px;
  width: 250px;
  overflow: hidden;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

/* add button */
.effect-add {
  color: #f2f2f2;
  background-color: #333;
  border-bottom-right-radius:6px;
}
.effect-add:before {
  content: "\f067";
  font-family: FontAwesome;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect-add:hover {
  text-indent: -9999px;
  color: #0f0
}
.effect-add:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  text-indent: 0;
}
/*add button */

/*edit button */
.effect-edit {
  color: #000 !important;
  background-color: #ccc;
  border-radius:6px;
  padding: 5px;
  width: 100px;
}
.effect-edit:before {
  content: "\f013";
  font-family: FontAwesome;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect-edit:hover {
  text-indent: -9999px;
  color: #ff0 !important;
}
.effect-edit:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  text-indent: 0;
}
/*edit button */

/*delete button */
.effect-delete {
  color: #000 !important;
  background-color: #ccc;
  border-radius:6px;
  padding: 5px;
  width: 100px;
}
.effect-delete:before {
  content: "\f068";
  font-family: FontAwesome;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect-delete:hover {
  text-indent: -9999px;
  color: #f00 !important;
}
.effect-delete:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  text-indent: 0;
}
/*delete button */

.pz:before {
  content: "\f56d" !important;
}

.wz:before {
  content: "\f574" !important;
}

.download:before{
  content: "\f019" !important;
  color: #00F !important;
}

.shift:before {
  content: "\f0d1" !important;
}

.back:before {
  content: "\f0e2" !important;
}

.document:before {
  content: "\f15c" !important;
}

.magazine:before{
  content: "\f494" !important;
}

.goods:before {
  content: "\f6d7" !important;
}

.person:before {
  content: "\f234" !important;
}

/*animowany przycisk */

a:link {
  color: #f0f0f0
}