 html {
    margin:0px;
    padding:5px;
	background-image: url("view/tlo.png");
	background-size: auto;
	
    color:black;
	font-size: 25px;
	font-family: arial;
  }


.d-flex{
		background-color: transparent;
 		position: absolute;             
		top: 38%;
		transform: translateY(-62%);
}  
.d-inline-flex {
			position: absolute;             
		top: 50%;
		transform: translateY(-50%);
}
        
